<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Center the content on the page */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Password Reset Email Sent</h1>
        <p>We have sent you an email with instructions to reset your password. Please check your inbox.</p>

        <a href="{% url 'login' %}" style="color:03A9F4">Back to Home</a>

    </div>
    <!-- Add Bootstrap JS scripts if needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
